{% extends 'base.html.twig' %}

{% block myStylesheets %}
    <link rel="stylesheet" href="{{asset('css/login.css')}}">
    <style>
        input[type=email], input[type=password]
        {
            width: 100%;
            height: 40px;
        }

        .mycheck
        {
            width:auto;
        }
    </style>
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class='form'>
    <div class="logoWG">
        <img width="120" height="120" src="https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-300x294.png" 
        class="attachment-medium size-medium" alt="" loading="lazy">
        &nbsp& &nbsp& &nbsp& &nbsp&
        <img width="150" height="100" src="images/logo-foreach-blanc.png" 
        class="attachment-medium size-medium" alt="" loading="lazy">
    </div>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{erreur}}{#{ error.messageKey|trans(error.messageData, 'security') }#}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3" style="color:white;">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
          <br>
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
        <input type="email" placeholder='Entrez votre adresse mail' value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <input type="password" placeholder='Entrez votre mot de passe' name="password" id="inputPassword" class="form-control mt-2" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        {# <input class="form-check-input mycheck mt-3" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label my-2" for="flexCheckDefault">
            Se souvenir de moi
        </label> #}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
        <br>
        <button class="boutonForm mb-2" type="submit">
            Se connecter
        </button>
        <br>
        <a href="#">Mot de passe oublié ?</a>
    </form>
</div>
{% endblock %}
