{% extends 'base.html.twig' %}


{% block body %}
	<div class="container-fluid">
		{{form_start(form)}}
		<div class="row">
			<div class="col-6">
				<h3>Modification Information Entreprise</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_widget(form.nom) }}
				{{ form_widget(form.adresse) }}
				{{ form_widget(form.telephone) }}
				{{ form_widget(form.Effectif)}}
				{{ form_widget(form.old_password)}}
				{{ form_widget(form.new_password)}}
				</div>
		</div>
		{% include 'buttonOK.html.twig' %}
		{{form_end(form)}}
	</div> <div class="text-white"><h3>{{ notification }}</h3></div>
{% endblock body %}
