{% extends 'base.html.twig' %}
{% block myStylesheets %}
	<style>
		input{
			color: black !important;
		}
	</style>
{% endblock myStylesheets %}

{% block body %}
{{form_start(form)}}
	<div class="container-fluid">
		<div class="row bg-bar">
			<h3>Modification Information Formateur</h3>
		</div>
		<div class="row">
			<div class="col-6">
				{{form_widget(form.nom)}}
				{{form_widget(form.email)}}
				{{form_widget(form.adresse)}}
				{{form_widget(form.prenom)}}
				{{ form_widget(form.telephone) }} 
			</div>
		</div>
		<div class="row mx-auto">
			<div class="col-12 mt-3">
				{{ form_widget(form.save)}}
			</div>
		</div>
	</div>
{{form_end(form)}}
{% endblock %}
