{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		{{form_start(form)}}
		<div class="row bg-bar">
			<div class="col-6">
				<h3>Modification IND</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_widget(form.email) }}
				{{ form_widget(form.nom) }}
				{{ form_widget(form.prenom) }}
				{{ form_widget(form.adresse) }}
				{{ form_widget(form.telephone) }}
			</div>
		</div>
		{% include 'buttonOK.html.twig' %}
		{{form_end(form)}}
	</div>
{% endblock %}
