{% extends 'base.html.twig' %}


{% block body %}

	<div class="container-fluid bg-workSpace">
		<div
			class="row bg-bar">
			{# <h3>Entreprise {{entreprise.nom}}</h3> #}
			<h3>Interface Entreprise
			</h3>
		</div>
		<div class="row">
			<div class="col-12">

				<div class="accordion" id="accordionPanelsStayOpenExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
								<h2 class="txt-dark">Apprenti</h2
							</button>
						</h2>
						<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
							<div class="accordion-body">
								<div class="row">
									{% if apps %}
									{% for app in apps %}
										
									
										<div class="col-5">
											{{ app.prenom }} {{ app.nom }}
											<br>
											{{ app.email }}
											<br>
											{{ app.telephone }}
											<br>
											{{ app.adresse|default('adresse') }}
										</div>	
										<div class="col-5">
											{{ app.tel_urgence1|default('telephone urgence 1') }}
											<br>
											{{ app.tel_urgence2|default('telephone urgence 1') }}
										</div>											        
										<div class="col-1">
											<a href="{{ path( 'dashEval',{'app':app.id } ) }}">
                								<button class="boutonForm">EVAL</button>
        									</a>
										</div>	
										<hr>										        
										
									{% endfor %}
									{% else %}
										<div class="col-6">
											<h2 class="txt-dark">PAS D'APPRENTI</h2>
										</div>	
									{% endif %}
								</div>	
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
								<h2 class="txt-dark">Maitre d'Apprentissage</h2>
							</button>
						</h2>
						<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
							<div class="accordion-body">
								<div class="row">
									{% if mas %}
									{% for ma in mas %}
										
									
										<div class="col-6">
											{{ ma.prenom }} {{ ma.nom }}
											<br>
											{{ ma.email }}
											<br>
											{{ ma.telephone }}
											<br>
											{{ ma.adresse|default('adresse') }}
											<hr>
										</div>	
										<div class="col-6">
										</div>	
										{% endfor %}
									{% else %}
										<div class="col-6">
											<h2 class="txt-dark">PAS DE MAITRE D'APPRENTISSAGE</h2>
										</div>	
									{% endif %}
								</div>	
							</div>
						</div>
					</div>
						<div class="accordion-item">
						<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
								<h2 class="txt-dark">Formateur</h2>
							</button>
						</h2>
						<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
							<div class="accordion-body">
								<div class="row">
									{% if formateurs %}
									{% for formateur in formateurs %}
										
									
										<div class="col-6">
											{{ formateur.prenom }} {{ formateur.nom }}
											<br>
											{{ formateur.email }}<hr>
										</div>	
										
										<div class="col-6">
										</div>	
										{% endfor %}
									{% else %}
										<div class="col-6">
											<h2 class="txt-dark">PAS DE MAITRE D'APPRENTISSAGE</h2>
										</div>	
									{% endif %}
								</div>	
							</div>
						</div>
					</div>
					{% include 'dash/dashOFInclude.html.twig' %}
					{% set retour = 'dashEntreprise' %}

				


					</div>
				</div>	
			</div>
		</div>
	</div>
{% endblock body %}
