{% extends 'base.html.twig' %}

{% block myStylesheets %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<style>
		.clickable-row:hover {
			background-color: #f37262;
		}
	</style>
{% endblock %}


{% block myJavascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

	<script>

		jQuery(document).ready(function ($) {
$(".clickable-row").click(function () {
window.location = $(this).data("href");
});
});
	</script>
{% endblock myJavascripts %}

{% block title %}OF - Liste des sessions
{% endblock %}

{% block body %}

	<div class="container-fluid bg-workSpace">
		<!-- MAIN CARDS-->
		<div class="row bg-bar">
			<div class="col-12 p-2">
				<h4>Sessions en cours</h4>
			</div>

		</div>

		<div class="row bg">
			<div class="col-4">
				<a href="{{ path( 'addSession') }}">
					<button class="btn btn-success my-2">+ Ajouter une session</button>
				</a>
			</div>
		
		</div>
		<div class="row">
			<div>
				<table class="table-normal">
					<thead>
						<tr>
							<th class="txt-bar bg-bar col-2 text-center">Début</th>
							<th class="txt-bar bg-bar col-2 text-center">Fin</th>
							<th class="txt-bar bg-bar col-2 text-center">Nom</th>
							<th class="txt-bar bg-bar col-2 text-center">Formation</th>
							<th class="txt-bar bg-bar col-4 text-center">Actions</th>

						</tr>
					</thead>
					<tbody>
						{% for session in listSession %}
							<tr class='clickable-row' data-href='{{ path( 'dashOFSession',{'session':session.id} ) }}'>
								<td class="text-center p-1">{{session.debut|date("d/m/y")}}</td>
								<td class="text-center p-1">{{session.fin|date("d/m/y")}}</td>
								<td class="text-center p-1">{{session.nom}}</td>
								<td class="text-center p-1">{{session.f}}</td>
								<td class="text-center p-1"><a class="btn btn-success m-md-2" href="{{ path( 'archivageSession',{'session':session.id} ) }}" onclick="return confirm('confirmer l\'archivage ?')" >Archiver</a><a class="btn btn-danger" onclick="return confirm('confirmer la suppression ?')" href="{{ path( 'deleteSession',{'session':session.id} ) }}">Supprimer</a></td>
							</tr>

					
						{% endfor %}

					</tbody>
				</table>
			</div>


		</div>

	
	<div class="row bg-bar">
				<div class="col-12 p-2">
			<h4>Sessions archivées</h4>
		</div>
	</div>
	<div class="row bg">
			
		</div>
	<div class="row">
			<div class="col-12 mt-2">
				<table class="table-normal">
					<thead>
						<tr>
							<th class="txt-bar bg-bar col-2 text-center">Début</th>
							<th class="txt-bar bg-bar col-2 text-center">Fin</th>
							<th class="txt-bar bg-bar col-2 text-center">Nom</th>
							<th class="txt-bar bg-bar col-2 text-center">Formation</th>
							<th class="txt-bar bg-bar col-4 text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for session in listArchive %}
							<tr class='clickable-row' data-href='{{ path( 'dashOFSession',{'session':session.id} ) }}'>
								<td class="text-center p-1">{{session.debut|date("d/m/y")}}</td>
								<td class="text-center p-1">{{session.fin|date("d/m/y")}}</td>
								<td class="text-center p-1">{{session.nom}}</td>
								<td class="text-center p-1">{{session.f}}</td>
								<td class="text-center p-1"><a class="btn btn-danger" onclick="return confirm('confirmer la suppression ?')" href="{{ path( 'deleteSession',{'session':session.id} ) }}">Supprimer</a></td>


							</tr>

					
						{% endfor %}

					</tbody>
				</table>
			</div>


		</div>

	</div>
</div></div></div>{% endblock %}
