{% extends 'base.html.twig' %}
{% block myStylesheets %}
	<style>
.blacktablo{
	color: black!important;
}
.clickable-row:hover {
			background-color: white;
		}
.tableNormal{width: 100%;
    height: 50%;
    border: 1px solid black;}
.textNormal{
	color: white !important;
    font-size: 20px!important;
}
.tableauborder{
	border: 1px black solid!important;
	padding: 5px;
	background-color: #6c757d;
	opacity:75%;
}
.row1{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.item{
	width: 40%;
	margin: 0!important;
	padding: 0!important;
}
	</style>
{% endblock %}
{% block myJavascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

	<script>

		jQuery(document).ready(function ($) {
$(".clickable-row").click(function () {
window.location = $(this).data("href");
});
});
	</script>
{% endblock myJavascripts %}

{% block body %}

	<div class="container-fluid ">
		<div class="row bg-bar">
			<h3 class="p-2">Interface Entreprise</h3>
		</div>
					<h2 class="text-light mt-2 ml-2 mb-2">Apprenti</h2>
						<div class="row">
							{% if apps %}
								<div class="col-12" >
									<table class="tableNormal  textNormal">
                                        <tr class="bg-bar" >
                                            <th class = " col-2">Prenom</th>
                                            <th class = " col-2">nom</th>
                                            <th class = " col-2">Tél</th>
                                            <th class = " col-3">Mail</th>
                                            <th class = " col-3">Adresse</th>
                                        </tr>
                                        <tbody>
                                            {% for app in apps %}                            
                                                <tr	class='clickable-row' data-href='{{ path( 'profilOF_APP',{'user':app.id} ) }}'>
                                                    <td class = "textNormal tableauborder">{{app.prenom}}</td>
                                                    <td class = "textNormal tableauborder">{{app.nom}}</td>
                                                    <td class = "textNormal tableauborder">{{app.telephone}}</td>
                                                    <td class = "textNormal tableauborder"><A HREF="mailto:{{app.email}}">{{app.email}}</A></td>
                                                    <td class = "textNormal tableauborder">{{app.adresse|default('adresse')}}</td>
                                                </tr>        
                                            {% endfor %}
                                        </tbody>
                                    </table>
								</div>	
								<hr>										        							
							{% else %}
								<div class="col-12">
									<h2 class="txt-dark">PAS D'APPRENTI</h2>
								</div>	
								<hr>
							{% endif %}
						</div>
						<div class="row1"> 
							{% if mas %}
							<div class="item">
								<h2 class="text-light mt-1 ">Maitre d'apprentissage</h2>
								<hr class="text-black">
								{% for ma in mas %}					
									<div class=" text-light ">
										{{ ma.prenom }} {{ ma.nom }}<br>
										<A HREF="mailto:{{ma.email}}">{{ma.email}}</A><br>
										{{ ma.telephone }}<br>
										{{ ma.adresse|default('adresse') }}		
									</div>	
									<hr>						
								{% endfor %}
							{% else %}
								<div >
									<h2 class="text-light">PAS DE MAITRE D'APPRENTISSAGE</h2>
								</div>	
							{% endif %}	
							</div>						
							<hr>
							{% if formateurs %}
							<div class="item">
								<h2 class="text-light mt-1 ">Formateur</h2>
								<hr class="text-black">
								<div class="row">
								{% for formateur in formateurs %}								
									<div class="col- text-light">
										{{ formateur.prenom }} {{ formateur.nom }} form
										<br>
										<A HREF="mailto:{{formateur.email}}">{{formateur.email}}</A>
										<hr>
									</div>																													
								{% endfor %}
								</div> 
							{% else %}
								<div >
									<h2 class="text-light">PAS DE FORMATEUR</h2>
								</div>	
							{% endif %}
							 </div>	 		
						</div>	
						<hr class="text-light">
						<div class="row ">
				   			<h4 class="text-white">Organisme Formation</h4>
							<div class="col-12 text-white">
								{{ OF.prenom }}
								{{ OF.nom }}<br>
								<A HREF="mailto:{{OF.email}}">{{OF.email}}</A><br>
								{{ OF.telephone }}<br>
								{{ OF.adresse|default('adresse') }}
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
{% endblock body %}
