{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid bg-workSpace">
		<div class="row bg-bar">
			<h3>Session {{session.nom}}</h3>
		</div>
		<div class="row ">
           <div class="col-1 txt-normal"> 
                 Debut 
           </div>
           <div class="col-11 txt-normal"> 
                {{session.debut|date("d/m/y")}}
           </div>
        </div>        
		<div class="row">
           <div class="col-1 txt-normal"> 
                 Fin 
           </div>
           <div class="col-11 txt-normal"> 
                {{session.fin|date("d/m/y")}}
           </div>
        </div>        
		<div class="row my-3">
            <div class="col-4 txt-normal"> 
            <a href="{{ path( 'listUsersSession',{'session':session.id, 'role':'ROLE_APP', 'roleName':'Apprenti' }) }}">
                <div class="boutonForm">Apprenti</div>
            </a>
            </div>
            <div class="col-4 txt-normal"> 
            <a href="{{ path( 'listUsersSession',{'session':session.id, 'role':'ROLE_FORMATEUR', 'roleName':'Formateur'}) }}">
                <div class="boutonForm">Formateur</div>
            </a>
            </div>
            <div class="col-4 txt-normal"> 
            <a href="{{ path( 'listUsersSession',{'session':session.id, 'role':'ROLE_MA', 'roleName':"Maitre d'apprentissage"}) }}">
                <div class="boutonForm">Maitre Apprentissage</div>
            </a>
            </div>
        </div>        
		<div class="row my-3">
        </div>        
</div>
{% endblock %}