{% extends 'base.html.twig' %}

{% block myStylesheets %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<style>
		.clickable-row:hover{
 		background-color: #f37262;
		}
	</style>
{% endblock %}


{% block myJavascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

<script>

    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock myJavascripts %}

{% block title %}OF - Liste des sessions{% endblock %}

{% block body %}
	<div class="container-fluid bg-workSpace">
			<!-- MAIN CARDS-->
				<div class="row">
				</div>
				<div class="row bg-bar">
					<div class="col-12">
						<h4>Sessions en cours</h4>
					</div>
				</div>				
				<div class="row bg">
					<div class="col-12">
						<a href="{{ path( 'addSession') }}">
								<button class="btn btn-success my-2">+ créer une session</button>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<table class="table-normal">
							<thead>
								<tr>
									<th class="txt-bar bg-bar">Début</th>
									<th class="txt-bar bg-bar">Fin</th>
									<th class="txt-bar bg-bar">Nom</th>
									<th class="txt-bar bg-bar">Formation</th>
								</tr>
							</thead>
							<tbody>
								{% for session in listSession %}
								<tr class='clickable-row' data-href='{{ path(  'dashOFSession',{'session':session.id} ) }}'>
                                        <td>{{session.debut|date("d/m/y")}}</td>
										<td>{{session.fin|date("d/m/y")}}</td>
										<td>{{session.nom}}</td>
										<td>{{session.f}}</td>
                                                            
								</tr>
								
									{# <div class="accordion" id="accordionPanelsStayOpenExample">
										<div class="accordion-item">
											<h2 class="accordion-header" id="panelsStayOpen-headingOne">
												<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
													<h2 class="txt-dark">Apprenti</h2>
												</button>
											</h2>
											<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
												<div class="accordion-body">
													<div class="row">
														<h1>122</h1>
													</div>	
												</div>
											</div>
										</div>
									</div> #}
								{% endfor %}
	
							</tbody>
						</table>
					</div>
			
			
				</div>	
				
			</div>
			<div class="row bg-bar">
					<div class="col-12">
						<h4>Sessions archivées</h4>
					</div>	</div>
		</div>
	</div>
{% endblock %}