{% extends 'base.html.twig' %}

{% block myStylesheets %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block title %}liste {{ roleName }}s{% endblock %}

{% block body %}
	<div class="container-fluid bg-workSpace">
	
				<div class="row">
				</div>
				<div class="row bg-bar">
					<div class="col-12">
						<h2>liste de tous les {{ roleName }}s</h2>
					</div>
					
				</div>	
				<br>			
				<div class="row bg">
					<div class="col-3">
					{# XXXXXXXXXXXXXXXXXX  attention all role 
						<a href="{{ path( 'addUser', {'role':1}) }}"> #}
						<a href="">
							<div class="boutonForm">+ créer {{ roleName }}</div>
						</a> 
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-12">
						<table class="table-normal">
							<thead>
								<tr>
									<th class="txt-bar bg-bar">Prenom</th>
									<th class="txt-bar bg-bar">nom</th>
									<th class="txt-bar bg-bar">session</th>
									<th class="txt-bar bg-bar">Tél</th>
									<th class="txt-bar bg-bar">Mail</th>
									<th class="txt-bar bg-bar">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for item in list %}
									<tr>
										<td>{{item.prenom}}</td>
										<td>{{item.nom}}</td>
										<td>{{item.ns}}</td>
										<td>{{item.telephone}}</td>
										<td>{{item.email}}</td>
										{#<td>{{session.formation}}</td>#}
										<td>								
											<a href="{{ path( 'editUser',{'user':item.id} ) }}">
													<i class="fas fa-solid fa-download" style="font-size:20px;color:green;"></i>
											</a>
                                        </td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
