{% extends 'base.html.twig' %}

{% block myStylesheets %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block title %}Liste des {{ roleName }}s {% endblock %}

{% block body %}
	<div class="container-fluid bg-workSpace">
			<!-- MAIN CARDS-->
				<div class="row">
				</div>
				<div class="row bg-bar">
					<div class="col-12">
					
						<h2>Liste {{ roleName }}s</h2>
					</div>
				</div>				
				<div class="row bg">
					<div class="col-12">
						<a href="{{ path( 'addUserSession', {'session':session.id, 'role':role, 'roleName':roleName }) }}">
							<button class="btn btn-success my-2">+ Ajouter un {{ roleName }}</button>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<table class="table-normal">
							<thead>
								<tr class="txt-bar bg-bar">
									<th>Prenom</th>
									<th class="txt-bar bg-bar">nom</th>
									<th class="txt-bar bg-bar">Tél</th>
									<th class="txt-bar bg-bar">Mail</th>
									<th class="txt-bar bg-bar">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for item in list %}
									<tr>
										<td>{{item.prenom}}</td>
										<td>{{item.nom}}</td>
										<td>{{item.telephone}}</td>
										<td>{{item.email}}</td>
										{#<td>{{session.formation}}</td>#}
										<td>								
											<a href="{{ path( 'profilOF_APP',{'user':item.id} ) }}">
													<i class="fas fa-solid fa-download" style="font-size:20px;color:green;"></i>
											</a>
											{% if role == 'ROLE_APP' %}
											<a href="{{ path( 'dashEval',{'app':item.id, 'session':session.id, } ) }}">
													EVAL
											</a>
											{% endif %}
                                        </td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>	
				</div>
			</div>
		</div>
	</div>
{% endblock %}
