{% extends 'base.html.twig' %}


{% block body %}
	<div class="container-fluid">
		<div class="row bg-bar">
			<h3>Modification Information Apprenti</h3>
		</div>
		{{form_start(form)}}
		<div class="row">
			<div class="col-6">
				{{form_widget(form.prenom)}}
				{{form_widget(form.nom)}}
				{{form_widget(form.email)}}
				{{form_widget(form.adresse)}}
				{{form_widget(form.telephone)}}
				<p style="color: #fff">Sportif De Haut Niveau :</p>
				{{form_widget(form.SportifHautNiveau)}}
			</div>
			<div class="col-6">
				{{form_widget(form.RepresentantLegal1)}}
				{{form_widget(form.RepresentantLegal2)}}
				<p style="color: #fff">Travailleur Handicape :</p>
				{{form_widget(form.TravailleurHandicape)}}
				{{form_widget(form.old_password)}}
				{{form_widget(form.new_password)}}

			</div>
		</div>
		<div class="row mx-auto">
			<div class="col-12">
				{{ form_widget(form.save) }}
			</div>
		</div>
		{% if notification %}
			<div class="alert alert-info">{{ notification }}</div>
		{% endif %}
		{{form_end(form)}}
	</div>

{% endblock %}
