 {% extends 'base.html.twig' %}

{% block myStylesheets %}

{% endblock %}

{% block body %}
<div class="container-fluid">
{{form_start(form)}}
    <h3>Modification Information Entreprise</h3>
    <div class="row">
        <div class="col-6">
            {{ form_widget(form.nom) }}
            {{ form_widget(form.adresse) }}
			{{ form_widget(form.telephone) }}           
        </div>
        <div class="col-6">
            {{ form_widget(form.Effectif)}}
            {{ form_widget(form.old_password) }}
            {{ form_widget(form.new_password) }}
        </div>
        <div class="row mx-auto">
            <div class="col-12">
                {{ form_widget(form.save) }}
            </div>
        </div>
    </div>
{{form_end(form)}}
</div>
{% endblock %}