{% extends 'base.html.twig' %}

{% block myStylesheets %}
<style>
    .avatar
    {
        width: 100px;
        height: 100px;
    }
</style>
{% endblock myStylesheets %}

{% block myJavascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% include 'profil/civilite.html.twig' %}

        {% block OF %}
        {% endblock OF %}
    
        {% block Formateur %}
        {% endblock Formateur %}

        {% block MA %}
        {% endblock MA %}

        {% block ENT %}
        {% endblock ENT %}

        <div class="row">
            <div class="col-6">    
                <h3>Mes documents :</h3>
                <label for="listDoc">Chercher un document :</label>
                <input list="documents" type="text" id="listDoc">
                <datalist id="documents">
                    {% for doc in document %}
                        <option id="{{doc.d_id}}" value="{{doc.d_titre}}">{{doc.d_fileName}}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-4 mt-5">
                <button onclick='seeDoc()' class="mt-4">CHECK</button>
                <button onclick='downloadDoc("{{ path('download1') }}");'>
                    <i class="fas fa-solid fa-download" style="font-size:20px;color:green;"></i>
                </button>
            </div>
        </div>
    </div>
        {% for d in docSend %}
            <div class="invisible {{d.id_document}}" data-id="{{d.id_document}}" titredoc="{{d.titre}}" datelu="{{d.date_read}}" style="color:white;">
                {{d.nom}}
            </div>
        {% endfor %}
    <div class="row">
        <div  id='infosDoc' class="invisible col-6" style="color:black;background-color:white;height:50pt;overflow:auto;">
        </div>
    </div>

    {% block myScdJavascripts %}
        <script>
            function seeDoc()
            {
                var valueI = $('#listDoc').val();
                var idD = $('#documents option[value="' + valueI +'"]').attr('id');

                if (!idD)
                    return alert("Fichier introuvable !");
                    
                if (idD == $('.'+idD).attr('data-id'))
                {
                    $("#infosDoc").removeClass('invisible').text($('.'+idD).attr('titredoc')+" envoyé à "+$('.'+idD).html());
                    if ($('.'+idD).attr('datelu') == '')
                        $('#infosDoc').append(' : non lu');
                    else
                        $('#infosDoc').append(' : lu le '+$('.'+idD).attr('datelu'));
                }

                else
                    $("#infosDoc").removeClass('invisible').text(valueI+" n'a pas été envoyé");
            }

            function downloadDoc(url)
            {
                var valueI = $('#listDoc').val();
                var idD = $('#documents option[value="' + valueI +'"]').attr('id');

                if (!idD)
                    return alert("Fichier introuvable !");

                var link = url+"/"+idD;
                window.location = link;
            }
        </script>
    {% endblock myScdJavascripts %}
{% endblock body %}
