{% extends 'lan/base.html.twig' %}

{% block myStylesheets %}

	<style>
		.myform label{
			
		}

		.myform{
			border-radius: 3px;
			margin: auto;
			text-align: left;
			color:white;
			padding: 2%;
			box-sizing: border-box;       
			
			
			
		}

		.myform button{
			background-color: #79a342;
			color: white;
			border-radius: 3px;
			border: none;
			padding: 12px 24px;
			text-align: center;
			text-decoration: none;
			font-size: 15px;
			cursor: pointer;
			transition: 0.3s;
            margin-left: 10%;
			margin-left: 40%;

		}

		.myform button:hover {
			background-color: #f37262;
		}
		
	</style>

{% endblock %}


{% block body %}

<div class="container-fluid">
	<h3 class="text-center">Evaluation</h3>

	<div class="row">
		<div class="col-10">
			{{ form_label(form.remarqueMS) }}
			{{ form_widget(form.remarqueMS) }}
			{{ form_label(form.remarqueOF) }}
			{{ form_widget(form.remarqueOF) }}
		</div>
		<div class="row">	
			<div class="col-10">
				{{ form_label(form.remarqueApp) }}
				{{ form_widget(form.remarqueApp) }}
				{{ form_label(form.note) }}
				{{ form_widget(form.note) }}
				
				{{ form_widget(form.Envoyer) }}

			</div>	
		</div>	


	</div>
</div>
	{% endblock %}

