 {% extends 'lan/base.html.twig' %}

{% block myStylesheets %}

{% endblock %}

{% block body %}
<div class="container-fluid">
{{form_start(form)}}
    <h3>Inscription maître de stage</h3>
    <div class="row">
        <div class="col-6">
            {{ form_widget(form.nom) }}
            {{ form_widget(form.adresse) }}
			{{ form_widget(form.telephone) }}
			{{ form_widget(form.EmployeurPublic) }}
        </div>
        <div class="col-6">
            {{ form_widget(form.siret) }}
            {{ form_widget(form.NAF) }}
            {{ form_widget(form.Effectif)}}
            {{ form_widget(form.ConventionCollective) }}
			{{ form_widget(form.CodeIDCCConvention) }}
        </div>
        <div class="row mx-auto">
            <div class="col-12">
                {{ form_widget(form.save) }}
            </div>
        </div>
    </div>
{{form_end(form)}}
</div>
{% endblock %}