<nav class="bar-top navbar navbar-expand-lg navbar-light text-light  ">
	<div class="collapse navbar-collapse" id="navbarSupportedContent ">
		<div class="logo-top">
			<img src="{{ asset('images/logo-foreach-blanc.png') }}">
		</div>

		<ul class="navbar-nav me-auto fith100">
			<li class="nav-item active">
				<a class="nav-link text-light" href="#">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>

			{% if menu is defined %}
				{% for item in menu %}
					<li class="nav-item">
						<a class="nav-link text-light" href="{{item.route}}">{{item.label}}</a>
					</li>
				{% endfor %}
			{% endif %}
		</ul>


		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="boutonForm my-2 my-sm-0 m-3" aria-current="page" href="{{ path('app_logout')}}">Déconnexion</a>
        {% else %}
            <a class="boutonForm my-2 my-sm-0 m-3" aria-current="page" href="{{ path('login')}}">Connexion</a>
        {% endif %}

		{# {% if loginOn is defined %}
            <a class="nav-link text-light" href="{{item.route}}">{{item.label}}</a>
            <button class="boutonForm my-2 my-sm-0 m-3  " type="submit">Deconnect</button>
		{% else %}
			<button class="boutonForm my-2 my-sm-0 m-3  " type="submit">Connexion</button>
		{% endif %} #}

	</div>
</nav>
