{% extends 'lan/base.html.twig' %}

{% block myStylesheets %}
    <link rel="stylesheet" href="{{asset("css/formulaireMaitre.css")}}">
{% endblock %}


{% block body %}

    {{form_start(form)}}
        <div class='form'>
            <div class="logoWG">
                <img width="50" height="48" src="https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-300x294.png" 
                class="attachment-medium size-medium" alt="" loading="lazy">
            </div>
            <form action="#">
                <h2>Je m'inscris</h2>
                {{ form_widget(form.email, { 'attr': {'class': "inputEmail", 'placeholder': 'Entrez votre adresse email'} }) }}
                {{ form_widget(form.password, { 'attr': {'class': "inputPassword", 'placeholder': 'Entrez votre mot de passe'} }) }}
                {{ form_widget(form.nom, { 'attr': {'class': "inputNom", 'placeholder': 'Entrez votre nom'} }) }}
                {{ form_widget(form.prenom, { 'attr': {'class': "inputPrenom", 'placeholder': 'Entrez votre adresse prénom'} }) }}
                <br>
                {{ form_label(form.dateNaissance, 'Date de naissance')}}
                {{ form_widget(form.dateNaissance, { 'attr': {'class': "dateNaissance"} }) }}
                {{ form_widget(form.telephone, { 'attr': {'class': "inputTel", 'placeholder': 'Entrez votre numéro de téléphone'} }) }}
                <br>
                <br>
                {{ form_row(form.save, { 'attr': {'class': "boutonForm", 'type': 'submit'} }) }}
            </form>
        </div>
    {{form_end(form)}}

        {# <input type='text' placeholder='Entrez votre adresse mail'>
        <br>
        <input type='password' placeholder='Entrez votre mot de passe'>
        <br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Se souvenir de moi
        </label>
        <br>
        
        <br>
        <a href="#">Mot de passe oublié ?</a>
    </form>
</div> #}

{% endblock %}
