{% extends 'lan/base.html.twig' %}
{% block myStylesheets %}
   
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1>Modifier mon mot de passe</h1>
    <a href="{{path('compte')}}">Retourner a mon compte</a>
        {{form_start(form)}}
        <div class="row">
            {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
            {% endif %}
            <div class="col-6">
                {{ form_widget(form.email) }}<br>
                {{ form_widget(form.nom) }}
                {{ form_widget(form.prenom) }}
            </div>
            <div class="col-6">
                
                {{ form_widget(form.old_password) }}
                {{ form_widget(form.new_password) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{form_end(form)}}
    </div>
    
    <hr>

{% endblock %}
