{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row bg-bar">
			<h3>Inscription
			{% if roleName == 'ROLE_APP' %} 
			Apprenti
			{% elseif roleName == 'ROLE_FORMATEUR' %}
            Formateur 
			{% elseif roleName == 'ROLE_MA' %}
				
				Maitre d'apprentissage

			{% endif %}
				{# {{roleName}}  #}</h3>
		</div>
		{{form_start(form)}}
		<div class="row">
			<div class="col-3">
				{{ form_widget(form.email, {'attr': {'id': 'edit_email'}}) }}
			</div>
		</div>
		<div class="row">
			{{ form_widget(form.save) }}
		</div>

		<div class="row">
			<div class="col-3">
				<p class="text-light">Recherche:</p>
				<input list="app" type="text" id="listAPP">
				<form action="" method="GET">
					<datalist id="app">
						{% for app in app %}

							<option value="{{app.nom}} , {{app.prenom}}, {{app.role_string}}">{{app.email}}</option>

						{% endfor %}
					</datalist>
					<button type="submit" class = "boutonForm  my-2">Créer à une session</button>
				</form>
			</div>
		</div>

		{{form_end(form)}}
		{% if erreur != false %}
			<div class='alert alert-danger' role='alert'>
				{{erreur}}
			</div>
		{% endif %}
	</div>
</div>
<div class="row my-2"></div></div><script>
function ajout_email_input(email) {
document.getElementById('edit_email').innerHTML = email;
console.log(email);
console.log('je suis la ');
}</script>{% endblock body %}
