{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
		<div class="row bg-bar">
			<h3>Inscription {{roleName}}</h3>
		</div>
		{{form_start(form)}}
			<div class="row">
					{{ form_widget(form.email) }}
			</div>
			<div class="row">
					{{ form_widget(form.save) }}
			</div>

			 <div class="row">
            	<div class="col-3">  
					<p class="text-light">recheche:</p> 
                	<input list="app" type="text" id="listAPP">
                	<datalist id="app">
                    	{% for app in app %}
                        	<option  value="{{app.nom}} , {{app.prenom}}">{{app.email}}</option>
                    	{% endfor %}
                	</datalist>
            	</div>
        	</div> 

				{{form_end(form)}}
				{% if erreur != false %}
					<div class='alert alert-danger' role='alert'>
						{{erreur}}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="row my-2">
		</div>
</div>
{% endblock body %}