<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock title %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" href="{{asset("css/lan.css")}}">
		<link rel="stylesheet" href="{{asset("css/annuaire.css")}}">
		<script src="{{asset("/JS/annuaire.js")}}"></script>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

		{% block myStylesheets %}
		{% endblock myStylesheets %}

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock stylesheets %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock javascripts %}

		{% block myJavascripts %}
		{% endblock myJavascripts %}

	</head>
	<body class="body-fe">
		{% include 'menu.html.twig' %}
		
		<div class="work-content"> 
			{% block body %}
			
			{% endblock body %}
		</div>
		{#
		<div class="bar-bottom ">
			Lorem ipsum dolor sit amet consectetur adipisicing elit.
		</div>
		#}
	    <script>
			// récupère les infos du document sélectionné et
			// affiche si le document à été envoyé, a qui, si il à été lu
            function seeDoc2(id)
            {
                let valueI = $('#listDoc').val();
                let idD = $('#documents option[value="' + valueI +'"]').attr('id');

                if (!idD)
                    return alert("Document introuvable !");

                $.get( "/getInfoDoc/"+id,
                    function( data )
                    {
                        $("#infosDoc").text("");
                        for(let d in data.a)
                        {
                            if (idD == data.a[d].id_document)
                            {
                                if (data.a[d].role_string == "ROLE_ENT")
                                    $("#infosDoc").removeClass('invisible').append(data.a[d].titre+" envoyé à "+data.a[d].raison_social);
                                else
                                    $("#infosDoc").removeClass('invisible').append(data.a[d].titre+" envoyé à "+data.a[d].nom+" "+data.a[d].prenom);
                                
                                if (data.a[d].date_read == null)
                                    $('#infosDoc').append(' : non lu ❌<br>');
                                else
                                    $('#infosDoc').append(' : lu le '+data.a[d].date_read+" ✅<br>");
                            }
                        }
                    }
                );
            }

            function downloadDoc(url)
            {
                let valueI = $('#listDoc').val();
                let idD = $('#documents option[value="' + valueI +'"]').attr('id');

                if (!idD)
                    return alert("Fichier introuvable !");

                let link = url+"/"+idD;
                window.location = link;
            }
        </script>
	</body>
</html>