<nav class="bar-top navbar navbar-expand-lg   ">
	<div class="collapse navbar-collapse" id="navbarSupportedContent ">
		<div class="logo-top">

		{% if is_granted('ROLE_OF') %}
				<img src="{{ asset('images/logo-foreach-blanc.png') }}">
			{% elseif is_granted('ROLE_APP') %}
				<img src="{{ asset('images/logo-foreach-blanc.png') }}">
			{% elseif is_granted('ROLE_FORMATEUR') %}
				<img src="{{ asset('images/logo-foreach-blanc.png') }}">
			{% elseif is_granted('ROLE_MA') %}
				<img src="{{ asset('images/logo-foreach-blanc.png') }}">
			{% elseif is_granted('ROLE_ENT') %}
				<img src="{{ asset('images/logo-foreach-blanc.png') }}">
			{% endif %}
			 {# <img src="{{ asset('images/logo-foreach-blanc.png') }}">  #}
		</div>

		{# le bouton de retour s'affiche seulement si l'user est coonecté #}
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{# <button  class="boutonForm my-2 my-sm-0 m-3" onclick="rtn()"><i class="fa fa-arrow-left"></i></button> #}

			<script>
				function rtn() {
window.history.back();
}
			</script>

		{% endif %}


			{# <li class="nav-item ">
																<a class="nav-link  " href="{{ path('test')}}">Accueil
																	<span class="sr-only">(current)</span>
																</a>
															</li>  #}

		<ul class="navbar-nav me-auto fith100">

			{# <li class="nav-item ">
				<a class="nav-link  " href="{{ path('test')}}">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li> #}
		<li class="nav-item ">
				{% if is_granted('ROLE_OF') %}
					<a class="nav-link  " href="{{ path('dashOFPrincipal')}}">Accueil<span class="sr-only">(current)</span>
					</a>
				{% elseif is_granted('ROLE_APP') %}
						<a class="nav-link  " href="{{ path('dashApp')}}">Accueil<span class="sr-only">(current)</span>
						</a>
				{% elseif is_granted('ROLE_FORMATEUR') %}
							<a class="nav-link  " href="{{ path('dashFormateur')}}">Accueil<span class="sr-only">(current)</span>
							</a>
				{% elseif is_granted('ROLE_MA') %}
								<a class="nav-link  " href="{{ path('dashMA')}}">Accueil<span class="sr-only">(current)</span>
								</a>
				{% elseif is_granted('ROLE_ENT') %}
									<a class="nav-link  " href="{{ path('dashEntreprise')}}">Accueil<span class="sr-only">(current)</span>
									</a>
				{% endif %}

			</li>


			{% if menu is defined %}
				{% for item, route in menu %}
					<li class="nav-item">
						<a class="nav-link  " href="{{ path(route) }}">{{item}}</a>
					</li>
				{% endfor %}
			{% endif %}



			<li class="nav-item">

				{% if is_granted('ROLE_OF') %}
					<a class="nav-link " href="{{ path('compte') }}">mon Compte</a>
				{% elseif is_granted('ROLE_FORMATEUR') %}
					<a class="nav-link " href="{{ path('compte') }}">mon Compte</a>
				{% elseif is_granted('ROLE_APP') %}
					<a class="nav-link " href="{{ path('compte') }}">mon Compte</a>
				{% elseif is_granted('ROLE_ENT') %}
					<a class="nav-link " href="{{ path('compte') }}">mon Compte</a>
				{% elseif is_granted('ROLE_MA') %}
					<a class="nav-link " href="{{ path('compte') }}">mon Compte</a>

				{% endif %}
			</li>




		</ul>


	<script>
		function rtn() {window.history.back();}
	</script>
<ul>
						{# si authentifié affiche le boutton de deconnexion #}
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<a class="boutonForm my-2 my-sm-0 m-3" aria-current="page" href="{{ path('app_logout')}}">Déconnexion</a>
							{# sinon authentifié affiche le boutton de connexion #}
							{# {% else %}
									<a class="boutonForm my-2 my-sm-0 m-3" aria-current="page" href="{{ path('login')}}">Connexion</a> #}
						{% endif %}
					</div>
				</nav>
			</li>
		</ul>
		<script>
			function rtn() {
window.history.back();
}
		</script>


		{# si authentifié affiche le boutton de deconnexion #}
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a class="boutonForm my-2 my-sm-0 m-3" aria-current="page" href="{{ path('app_logout')}}">Déconnexion</a>
			{# sinon authentifié affiche le boutton de connexion #}
			{# {% else %}
															<a class="boutonForm my-2 my-sm-0 m-3" aria-current="page" href="{{ path('login')}}">Connexion</a> #}
		{% endif %}
	</div>
</nav>

