<nav class="bar-top navbar navbar-expand-lg   ">
	<div class="collapse navbar-collapse" id="navbarSupportedContent ">
		<div class="logo-top">
			<img src="{{ asset('images/logo-foreach-blanc.png') }}">
		</div>

		<ul class="navbar-nav me-auto fith100">
			<li class="nav-item ">
				<a class="nav-link  " href="{{ path('test')}}">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>

			{% if menu is defined %}
				{% for item, route in menu %}
					<li class="nav-item">
						<a class="nav-link  " href="{{ path(route) }}">{{item}}</a>
					</li>
				{% endfor %}
			{% endif %}
			<li class="nav-item">
				<a class="nav-link  " href="{{ path('documents') }}">documenthèque</a>
			</li>
			<li class="nav-item">
				<a class="nav-link  " href="{{ path('aide') }}">aide</a>
			</li>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li class="nav-item">
					<a class="nav-link " href="{{ path('monCompte') }}">mon Compte</a>
				</li>
			{% endif %}

		</ul>


		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a class="boutonForm my-2 my-sm-0 m-3" aria-current="page" href="{{ path('app_logout')}}">Déconnexion</a>
		{% else %}
			<a class="boutonForm my-2 my-sm-0 m-3" aria-current="page" href="{{ path('login')}}">Connexion</a>
		{% endif %}


	</div>
</nav>
