{% extends 'lan/base.html.twig' %}

{% block myStylesheets %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block title %}LIST DES FICHIERS{% endblock %}

{% block body %}
	<div class="container-fluid">
			<!-- MAIN CARDS-->
				<div class="row">
					{% for message in app.flashes('message') %}
						<div class="alert alert-success">
							{{message}}
						</div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="col-5">
						<h2 class="text-info my-2">
							<small class="text-muted">Documents</small>
						</h2>
					</div>
					<div class="col-5">
						<a href="{{ path( 'upload') }}">
							<button class="btn btn-success my-2">+ Ajouter un document</button>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<table class="table-normal">
							<thead>
								<tr>
									<th class="txt-bar text-center bg-bar">Date</th>
									<th class="txt-bar text-center bg-bar">Nom du document</th>
									<th class="txt-bar text-center bg-bar">Classe</th>
									<th class="txt-bar text-center bg-bar">Format document</th>
									<th class="txt-bar text-center bg-bar">Supprimer</th>
								</tr>
							</thead>
							<tbody>
								{% for document in listUp %}
									<tr>
										<td class="txt-normal text-center p-2">{{document.dateCreate|date('d/m/y')}}</td>
										<td class="txt-normal text-center p-2">{{document.titre}}</td>
										<td class="txt-normal text-center p-2">Alternance 1er Année</td>
										<td class="txt-normal text-center p-2">
											<a href="{{ path( 'download',{'id':document.id} ) }}">
													<button class="btn btn-success">
													<i class="fas fa-file-pdf" style="font-size:20px;color:red;"></i>
													Téléchargement</button>
											</a>
										</td>
										<td>
											<form method="post" class="col" action="{{path('delete',{'id':document.id})}}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
												<input type="hidden" name="_method" value="SUP">
												<input type="hidden" name="_token" value="{{csrf_token('SUP' ~ document.id)}}">
												<input type="submit" class="btn btn-danger w-100" value="Supprimer">
											</form>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
