{% extends 'lan/base.html.twig' %}
{% block myStylesheets %}
        <link rel="stylesheet" href='{{ asset("css/follow.css")}}'>
        <link rel="stylesheet" href='{{ asset("css/login.css")}}'> 
        <link rel="stylesheet" href='{{ asset("css/lan.css")}}'> 
{% endblock %}


    {% block title %}UPLOAD FICHIER{% endblock %}


{% block body %}
<div class="container bg-workSpace fit50 pb-2">
    <div class="row bg-bar">
        <h2 class="col-12 ">Upload Document</h2>
    </div>
            {{ form_start(myForm) }}
    <div class="row align-middle">           
                <div class="input-field col-6 my-auto">
                     {{ form_widget(myForm.titre, {'attr': {'placeholder': 'Titre'}}) }}
                </div>
                <div class="input-field col-6 my-auto">
                     {{ form_widget(myForm.fileName, {'attr': {'placeholder': 'message'}}) }}
                </div>
    </div>
    <div class="row mx-auto"> 
        <div class="col-12 text-justify mx-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Apprentis
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="2" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckChecked">
                            Maitre de stage
                        </label>
                    </div>
             
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="3" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Formateur
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="4" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckChecked">
                            Organisme de formation
                        </label>
                    </div>
                    <br>
        </div>       
    </div>  
    <div class="row mb-2">
                <div class="mx-auto col-6">
                    <a href="{{ path( 'downloadlist') }}"><div class="btn btn-danger"  alt="Retour"  >Retour</div></a>
                 </div>
                <div class="mx-auto col-6">
                    <button class="btn btn-success" type="submit" >Uploader</button>
                </div>
        </div>
    </div> 
        {{ form_end(myForm) }}
</div>
   
{% endblock %}