{% extends 'lan/base.html.twig' %}

{% block myStylesheets %}

	<style>
		.myform label {}

		.myform {
			border-radius: 3px;
			margin: auto;
			text-align: left;
			color: white;
			padding: 2%;
			box-sizing: border-box;


		}

		.myform button {
			background-color: #79a342;
			color: white;
			border-radius: 3px;
			border: none;
			padding: 12px 24px;
			text-align: center;
			text-decoration: none;
			font-size: 15px;
			cursor: pointer;
			transition: 0.3s;
			margin-left: 10%;
			margin-left: 40%;

		}

		.myform button:hover {
			background-color: #f37262;
		}

		/*.bg-bar*/
	</style>

{% endblock %}


{% block body %}

	<div class="container-fluid">
		<div class="row bg-bar">
			<h3 class="text-center">Evaluation {{ nameCompet }}</h3>
		</div>

		<div class="row">
			<div class="col-6">
				{{ form_label(form.remarqueMS) }}
				{{ form_widget(form.remarqueMS) }}
			</div>
			<div class="col-6">
				{{ form_label(form.remarqueOF) }}
				{{ form_widget(form.remarqueOF) }}
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				{{ form_label(form.remarqueApp) }}
				{{ form_widget(form.remarqueApp) }}
			</div>
			<div class="col-5 m-2">
		
				<br>
				{{ form_widget(form.Envoyer) }}
			</div>
		</div>

	</div>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}


{% endblock %}
